<div class="auth">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#login">Войти</a></li>
                <li class="tab col s6"><a href="#register">Регстрация</a></li>
            </ul>
        </div>
        <div id="login" class="col s6 offset-s3">
            <h1>Авторизация</h1>
            <form action="/auth/login" method="POST">
                <div class="input-field">
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="Введите свой email" data-success="Правильно"></span>
                </div>
                <div class="input-field">
                    <input id="password" type="password" name="password" class="validate" required>
                    <label for="password">Пароль</label>
                    <span class="helper-text" data-error="Необходимо указать пароль" data-success="Правильно"></span>
                </div>

                <button type="submit" class="btn btn-primary">Войти</button>
            </form>
        </div>
        <div id="register" class="col s6 offset-s3">
            <h1>Регистрация</h1>
            <form action="/auth/register" method="POST">
                <div class="input-field">
                    <input id="r-email" name="email" type="email" class="validate" required>
                    <label for="r-email">Email</label>
                    <span class="helper-text" data-error="Введите свой email" data-success="right"></span>
                </div>
                <div class="input-field">
                    <input id="r-name" name="name" type="text" class="validate" required>
                    <label for="r-name">Имя</label>
                    <span class="helper-text" data-error="Введите свое имя" data-success="ок"></span>
                </div>
                <div class="input-field">
                    <input id="r-password" type="password" name="password" class="validate" required>
                    <label for="r-password">Пароль</label>
                    <span class="helper-text" data-error="Необходимо указать пароль" data-success="right"></span>
                </div>
                <div class="input-field">
                    <input id="r-require-password" type="password" name="requirePassword" class="validate" required>
                    <label for="r-require-password">Пароль еще раз</label>
                    <span class="helper-text" data-error="Необходимо указать пароль" data-success="right"></span>
                </div>
                <button type="submit" class="btn btn-primary">Регистрация</button>
            </form>
        </div>
    </div>
</div>