<div class="row">
    <div class="col s6 offset-s3">
        {{#if error}}<p class="alert">{{error}}</p>{{/if}}
        <h1>Придумайте новый пароль</h1>
        <form action="/auth/setPassword" method="POST">
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="user_id" value="{{userId}}">
            <input type="hidden" name="token" value="{{token}}">
            <div class="input-field">
                <input id="s-password" type="password" name="password" class="validate" required>
                <label for="s-password">Пароль</label>
                <span class="helper-text" data-error="Необходимо указать пароль" data-success="right"></span>
            </div>
            <div class="input-field">
                <input id="s-require-password" type="password" name="requirePassword" class="validate" required>
                <label for="s-require-password">Пароль еще раз</label>
                <span class="helper-text" data-error="Необходимо указать пароль" data-success="right"></span>
            </div>
            <button type="submit" class="btn btn-primary">Применить</button>
        </form>
    </div>
</div>